pkgbase = pkgbrowser
	pkgdesc = A utility for browsing pacman databases and the AUR
	pkgver = 0.27
	pkgrel = 3
	url = https://osdn.net/projects/pkgbrowser
	install = pkgbrowser.install
	arch = x86_64
	license = GPL2
	makedepends = python-pyqt5
	depends = pacman
	depends = hicolor-icon-theme
	source = https://osdn.net/dl/pkgbrowser/pkgbrowser-0.27.tar.gz
	sha512sums = 238bcecfe7e4f46af2909df3d82cc4259982691c540c45db0ee8f535b3f282510ffdd423b4911bbfb143c91b1eb8b392c1f9de49ac98830842bf01c9f20d0223

pkgname = pkgbrowser
